table, th, td {
    border: 1px solid black;
}

html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image:
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?auto=format&fit=crop&w=3840&q=100");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header, nav {
    padding-left: 20px;
    padding-top: 10px;
}

main {
    margin-left: 40px;
}


.home {
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?auto=format&fit=crop&w=3840&q=100");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.body-home {
    margin-left: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: white;
    color: darkblue;
    padding: 10px;
    border-radius: 12px;
}

.button:hover {
    background-color: darkblue;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: flex;
}


ol {
    font-weight: bold;
    columns: 2;
    column-gap: 40px;
}

header {
    color: white;
}


footer {
    width: 100%;
    margin-top: auto;
    background-color: #EDE9E0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 16px 40px;
    gap: 24px;
    align-items: center;
    margin-top: 40px;
}

.form1 {
    background-color: #fffff080;
    width: min(400px, 100%);
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    display: grid;
    gap: 12px;
}


.radio {
    display: flex;
    flex-direction: column;
    align-items: start;
}

label {
    font-size: 14px;
    color: black;
}

textarea {
    width: 100%;
}

section header {
    border-bottom: 2px solid black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    color: black;
}

p {
    margin:0;
}

h1 {
    font-family: cursive, sans-serif;
}

h2 {
    font-style: italic;
    margin: 0;
    font-size: 18px;
}
