@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Noto+Serif:wght@500&display=swap');

body {
    background-color: rgb(247, 215, 175);
}

.pageLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#picture {
    font-family: 'Noto Serif', serif;
    margin: 20px;
}

#info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    font-family: 'Noto Sans', sans-serif;
    margin: 20px;
}

p {
    text-align: center;
}

.spanColumns {
    grid-column: 1 / span 2;
}

#tableSection {
    justify-items: center;
}

h1, h2, h3, th, td {
    text-align: center;
}

th, td {
    border: 1px solid black;
}

ul, table {
    background-color: rgba(111, 81, 51, 0.5);
    padding: 20px;
    border-radius: 10px;
}

td, th {
    padding: 5px;
}

li {
    margin-left: 10px;
}

.green {
    color: rgb(7, 137, 48)
}

.yellow {
    color: rgb(253, 230, 66)
}

.red {
    color: rgb(218, 18, 26)
}
